<div id="central-panel">
  <div id="text-container">
  	<h1 style="display: inline-block;">{{ title }}</h1>
    <br>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <br>
    <h3>COMMENTS</h3>
    <div id="comments-container">
      <span class="comment-name">Firstname Lastname</span> on <span class="comment-date">06/30/2019</span> at <span class="comment-time">10:48 AM</span>
      <br>
      &#x25B8 This is a comment on the introductory blog post.
      <br>
      <br>
      <span class="comment-name">Test Testington</span> on <span class="comment-date">06/30/2019</span> at <span class="comment-time">2:17 PM</span>
      <br>
      &#x25B8 Test comment here.
      <br>
      <br>
      <span class="comment-name">John Smith</span> on <span class="comment-date">07/01/2019</span> at <span class="comment-time">4:14 PM</span>
      <br>
      &#x25B8 Here is a much longer comment where I put enough words to span a couple lines and I keep writing to ensure this happens. I'll write a second sentence here just in case the first sentence wasn't long enough to accomplish this task.
      <br>
      <br>
      <p id="post-a-comment">Post a Comment:</p>
      <div id="new-comment-container">
        <textarea id="new-comment" placeholder="Join the discussion!"></textarea>
        <div id="post-button-container">
          <div id="post-button">POST</div>
        </div>
      </div>
    </div>
  </div>
</div>