<!DOCTYPE HTML>
<html>
  <head>

    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/about.css">
    <script src="/js/lib/jquery-3.4.1.min.js"></script>

  </head>
  <body>

    <nav id="navbar">
      <div id="logo">STEVE SMART</div>

      <ul class="navlinks">
        <li><a class="home-link hover-link" href="/">HOME</a></li>
        <li><a class="about-link hover-link active-link" href="/about">ABOUT</a></li>
        <li><a class="resume-link hover-link" href="/resume">RESUME</a></li>
        <li><a class="blog-link hover-link" href="/blog">BLOG</a></li>
        <li><a class="contact-link hover-link" href="/contact">CONTACT</a></li>
      </ul>

      <div id="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>

    <div id="central-panel">
      <div id="text-container">
        <h1 style="display: inline-block;">ABOUT ME</h1>  (<div class="skip-text-scroll">skip scroll</div>)
        <br>
        <br>
        <div id="about-me" class="hidden">
          <p>Hi! My name is Steve Smart and I am a passionate software developer, teacher, writer, and gamer! I first developed an interest in programming during my Softmore year of college at the <a href="https://www.ou.edu/">University of Oklahoma</a> when I took CS1313--Intro to Programming for Non-majors. I loved it so much that five years later I became the instructor for that very same class! It hasn't all been smooth sailing, though. I once thought that pursuing a PhD in Computer Science was the path for me. I went down that path for two years at the <a href="https://www.colorado.edu/">University of Colorado, Boulder</a>. I have since decided to change course because I am eager to get out into the world and build meaningful software.</p>
          <br>
          <h3>My Journey</h3>
          <p>I was born and raised in Oklahoma, USA. I grew up in a medium sized town called <a href="https://maps.google.com/?q=Ardmore,OK">Ardmore, Oklahoma</a>. I have fond memories of my childhood, playing outside with the neighborhood kids, riding my bike around town, and playing video games with my two older brothers. I was homeschooled by my parents until the 8th grade. Fortunately, I still had a large circle of friends from around the neighborhood and from church, so my social skills developed just fine. Being homeschooled has one significant advantage--you learn at your own pace! I am a fast learner so I harnessed my academic skills from an early age because I didn't need to follow any rigid lesson plans aimed at a class with a wide variety of strengths and weaknesses.</p>
          <br>
          <p>By the 8th grade, I developed a passion for sports, particularly football and golf. Being homeschooled, I was limited in my opportunities to compete in these sports, so I begged my parents to let me attend public school, and I finally wore them down. I enrolled in Ardmore Middle School and played on the golf team and cornerback for the football team. TODO...</p>
        </div>
      </div>
    </div>

    <script src="/js/main.js"></script>
    <script src="/js/about.js"></script>

  </body>
</html>