<div id="central-panel">
  <div id="text-container">
    <h1 style="display: inline-block;">ABOUT ME</h1>  (<div class="skip-text-scroll">skip scroll</div>)
    <br>
    <br>
    <div id="about-me" class="hidden">
      <p>Hi! My name is Steve Smart and I am a passionate software developer, teacher, writer, and gamer! I first developed an interest in programming during my Softmore year of college at the <a href="https://www.ou.edu/">University of Oklahoma</a> when I took CS1313--Intro to Programming for Non-majors. I loved it so much that five years later I became the instructor for that very same class! It hasn't all been smooth sailing, though. I once thought that pursuing a PhD in Computer Science was the path for me. I went down that path for two years at the <a href="https://www.colorado.edu/">University of Colorado, Boulder</a>. I have since decided to change course because I am eager to get out into the world and build meaningful software.</p>
      <br>
      <h2>My Hobbies</h2>
      &#x25B8 Spending Time with my Wife and my Friends<br>
      &#x25B8 Gaming<br>
      &#x25B8 Reading<br>
      &#x25B8 Writing<br>
      &#x25B8 Watching Anime<br>
      &#x25B8 Golfing<br>
      <br>
      <h2>My Journey</h2>
      <p>I was born and raised in Oklahoma, USA. I grew up in a medium sized town called <a href="https://maps.google.com/?q=Ardmore,OK">Ardmore, Oklahoma</a>. I have fond memories of my childhood, playing outside with the neighborhood kids, riding my bike around town, and playing video games with my two older brothers. I was homeschooled by my parents until the 8th grade. Being homeschooled has one significant advantage--you learn at your own pace! I am a fast learner so I harnessed my academic skills from an early age because I didn't need to follow any rigid lesson plans aimed at a class with a wide variety of strengths and weaknesses.</p>
      <br>
      <p>By the 8th grade, I developed a passion for sports, particularly football and golf. Being homeschooled, I was limited in my opportunities to compete in these sports, so I begged my parents to let me attend public school, and I finally wore them down. I enrolled in Ardmore Middle School and played on the golf team and the football team. When I went on to attend Ardmore High School, I dropped football because I was a very small kid, but I continued playing golf all throughout high school and really enjoyed it. I did well academically in high school and I did well enough in golf to receive a scholarship to play at <a href="https://www.se.edu/">Southeastern Oklahoma State University</a>. While I enjoyed playing golf at SOSU, I quickly realized that I was not good enough to make a career out of it, so I decided to focus on academics instead. This lead me to transfer to the University of Oklahoma.</p>
      <br>
      <p>Initially, I did not know what I wanted to study at OU, so I chose something that fit my strengths reasonably well--Mechanical Engineering. I did well in this area, but I lacked passion for the subject. Fortunately, while studying Mechanical Engineering I enrolled in a computer programming class for non Computer Science majors. Coding fascinated me. I was able to create technology with just some 1's, 0's, and my imagination! I finally found something I was passionate about and I quickly changed my major to Computer Science. I did well enough in Computer Science that I went ahead and added the accelerated BS/MS degree to my plan which enabled me to complete a Master's degree with just one extra year of studies due to an increased workload during the completion of my Bachelor's degree.</p>
      <br>
      <p>Before completing my Bachelor's degree, I became a TA in the department of Computer Science and discovered another passion of mine--teaching. Helping students learn interesting and often difficult concepts is incredibly fulfilling. Watching students have that "Aha moment", as a professor of mine often called it, is an experience unlike any other. During the completion of my Master's degree, I was given the opportunity to be the full instructor for the very same class that set me on this path--Intro to Programming for Non-majors. I loved teaching this class and I felt like I really excelled at it!</p>
      <br>
      <p>During the completion of my Master's degree I also got involved in doing Computer Science research. To be honest, I didn't love doing research. Programming only made up a small part of the work that one has to do when doing research in Computer Science and often times the work is done in complete isolation. Despite my lack of passion for research, I decided that I would pursue a career in academia in hopes of becoming a professor one day. Unfortunately, this decision lead to two of the hardest years of my life.</p>
      <br>
      <p>After deciding to pursue a career in academia, I applied to many PhD programs across the United States. I ended up getting accepted into the University of Colorado, Boulder where I began working towards a PhD in Computer Science. I began working on research projects centered around <a href="https://www.tableau.com/learn/articles/data-visualization">Data Visualization</a>. I did most of my work in isolation and a relatively small portion of the work involved programming. The rest involved reading, writing, and presenting academic papers. Anyone that works towards a PhD can tell you that it is a tough battle--constantly fighting imposter syndrome and existential crises. After two years, I decided academic research just wasn't for me. I am a testament to the fact that to succeed in something, you have to be passionate about it. I learned the hard way, <strong>but I learned</strong>.</p>
      <br>
      <p>I am now actively seeking a role in software development! I have a true passion for building software and my academic studies have helped me learn a lot about the fundamentals of programming, but I'm ready to be plugged into a company and really get my hands dirty. I am a quick learner, I understand the importance of failing fast and moving forward, and I am more eager to work hard than I have been in my entire life.</p>
    </div>
  </div>
</div>