<div id="central-panel">
  <div id="blogs-container">
    <h1 style="display: inline-block;">BLOG</h1>
    <br>
    <br>
    <p>Hi! This is my blog where I write about anything and everything. You might see posts here about development projects, gaming, anime, sports, philosophy, you name it. If you also have something to say about a particular topic I have written about, feel free to leave a comment!</p>
    <br>
    <h3>POSTS</h3>
    <span class="blog-date">(June 30, 2019)</span> <a href="/blog/1">Introductory Blog Post</a>
  </div>
</div>