<div id="central-panel">
  <div id="text-container">
  	<h1 style="display: inline-block;">CONTACT ME</h1>
    <br>
    <br>
    <span class="social-header">[EMAIL]</span> >> <a href="mailto:stephendsmart@gmail.com">stephendsmart@gmail.com</a>
    <br>
    <br>
    <span class="social-header">[GITHUB]</span> >> <a href="https://github.com/sdsmart">https://github.com/sdsmart</a>
    <br>
    <br>
    <span class="social-header">[LINKEDIN]</span> >> <a href="https://www.linkedin.com/in/sdsmart">https://linkedin.com/in/sdsmart</a>
    <br>
    <br>
    <span class="social-header">[FACEBOOK]</span> >> <a href="https://facebook.com/stephendanielsmart">https://facebook.com/stephendanielsmart</a>
    <br>
    <br>
    <span class="social-header">[TWITTER]</span> >> <a href="https://twitter.com/stephendsmart">https://twitter.com/stephendsmart</a>
    <br>
    <br>
    <div>
    	<img src="/img/portrait.jpg" id="self-portrait">
    </div>
  </div>
</div>