<div id="mute-sound">
  <img src="/img/speaker.png" class="speaker-img hidden">
  <img src="/img/speaker-muted.png" class="speaker-img">
</div>
<div id="centerpiece">
  <span id="center-l1">S</span><span id="center-l2">T</span><span id="center-l3">E</span><span id="center-l4">V</span><span id="center-l5">E</span> <span id="center-l6">S</span><span id="center-l7">M</span><span id="center-l8">A</span><span id="center-l9">R</span><span id="center-l10">T</span>
</div>