<!DOCTYPE HTML>
<html>
  <head>

    <title>Steve Smart</title>
    <link rel="stylesheet" href="/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>

    <nav id="navbar">
      <div id="logo">STEVE SMART</div>

      <ul class="navlinks">
        <li><a class="home-link hover-link" href="#">HOME</a></li>
        <li><a class="about-link hover-link hover-link-about" href="#">ABOUT</a></li>
        <li><a class="resume-link hover-link hover-link-resume" href="#">RESUME</a></li>
        <li><a class="blog-link hover-link hover-link-blog" href="#">BLOG</a></li>
        <li><a class="contact-link hover-link hover-link-contact" href="#">CONTACT</a></li>
      </ul>

      <div id="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>

    <div id="centerpiece">
      <span id="center-l1">S</span><span id="center-l2">T</span><span id="center-l3">E</span><span id="center-l4">V</span><span id="center-l5">E</span> <span id="center-l6">S</span><span id="center-l7">M</span><span id="center-l8">A</span><span id="center-l9">R</span><span id="center-l10">T</span>
    </div>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/index.js"></script>

  </body>
</html>