<!DOCTYPE HTML>
<html>
  <head>

    <title>Steve Smart</title>
    <link rel="stylesheet" href="/css/index.css">

  </head>
  <body>

    <nav id="navbar">
      <div id="logo">STEVE SMART</div>

      <ul class="navlinks">
        <li><a href="#">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">RESUME</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>

      <div id="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>

    <div id="centerpiece">STEVE SMART</div>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/index.js"></script>

  </body>
</html>