<!DOCTYPE HTML>
<html>
  <head>

    <title>Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/resume.css">
    <script src="/js/lib/jquery-3.4.1.min.js"></script>

  </head>
  <body>

    <nav id="navbar">
      <div id="logo">STEVE SMART</div>

      <ul class="navlinks">
        <li><a class="home-link hover-link" href="/">HOME</a></li>
        <li><a class="about-link hover-link" href="/about">ABOUT</a></li>
        <li><a class="resume-link hover-link active-link" href="/resume">RESUME</a></li>
        <li><a class="blog-link hover-link" href="/blog">BLOG</a></li>
        <li><a class="contact-link hover-link" href="/contact">CONTACT</a></li>
      </ul>

      <div id="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>

    <div id="central-panel">
      <div id="text-container">
        <h1 style="display: inline-block;">RESUME</h1>  (<div class="skip-text-scroll">skip scroll</div>)
        <br>
        <br>
        <a href="/docs/sdsmart_resume.pdf">1-PAGE PDF VERSION</a>
        <br>
        <br>
        <div id="resume" class="hidden">
          <h2>Education</h2>
          <span class="resume-item">(2017-2019)</span> <strong>PhD in Computer Science (Did Not Finish)</strong>, University of Colorado, Boulder, CO.
          <br>
          &#x25B8 3.5 GPA
          <br>
          <br>
          <span class="resume-item">(2016-2017)</span> <strong>MS in Computer Science</strong>, University of Oklahoma, Norman OK.
          <br>
          &#x25B8 3.8 GPA
          <br>
          &#x25B8 Special Distinction
          <br>
          <br>
          <span class="resume-item">(2011-2016)</span> <strong>BS in Computer Science</strong>, University of Oklahoma, Norman OK.
          <br>
          &#x25B8 3.7 GPA
          <br>
          &#x25B8 Minor in Mathematics
          <br>
          &#x25B8 Special Distinction
          <br>
          <br>
          <h2>Experience</h2>
          <span class="resume-item">(2017-2019)</span> <strong>Research Assistant</strong>, University of Colorado, Boulder CO.
          <br>
          &#x25B8 <i>Measuring Separability</i>: Research study measuring the perceptual interference between shape, size, and color in multiclass scatterplots
          <br>
          &#x25B8 <i>Color Crafting</i>: Automating the construction of designer quality color ramps.
          <br>
          <br>
          <span class="resume-item">(2017)</span> <strong>Instructor</strong>, University of Oklahoma, Norman, OK. CS1313: Introduction to Programming for Non-majors.
          <br>
          &#x25B8 Wrote lesson plans, exams, and homeworks for students
          <br>
          &#x25B8 Taught 3 hour class twice per week
          <br>
          &#x25B8 Graded exams and homeworks
          <br>
          <br>
          <span class="resume-item">(2016-2017)</span> <strong>Research Assistant</strong>, University of Oklahoma, Norman, OK.
          <br>
          &#x25B8 <i>Min-Mask Sketch</i>: Extending a database system (postgreSQL) to utilize a novel data structure to efficiently support complex data security and privacy concerns
          <br>
          <br>
          <span class="resume-item">(2016)</span> <strong>Software Developer Intern</strong>, Paycom Software, Inc., Oklahoma City, OK.
          <br>
          &#x25B8 Developed a prototype web application demonstrating the pros and cons of Zend Technologies' PHP framework
          <br>
          &#x25B8 Presented prototype to Paycom executives
          <br>
          <br>
          <span class="resume-item">(2014-2016)</span> <strong>Teaching Assistant</strong>, University of Oklahoma, Norman, OK.
          <br>
          &#x25B8 Assisted in teaching students how to program in Java
          <br>
          &#x25B8 Lead weekly lab exercises
          <br>
          <br>
          <span class="resume-item">(2015)</span> <strong>Software Developer Intern</strong>, Noble Research Institute, Ardmore, OK.
          <br>
          &#x25B8 Designed and implemented support applications for existing software developers and scientists
          <br>
          &#x25B8 Shadowed agricultural scientists to better understand how software can support their research
          <br>
          &#x25B8 Organized and lead staff meeting
          <br>
          <br>
          <h2>Skills</h2>
          <span class="resume-item">Programming Languages (At Least Some Experience)</span>: Python, HTML/CSS, Javascript, PHP, C, C++, SQL, Java, C#, Bash, Swift
          <br>
          <br>
          <span class="resume-item">Frameworks and APIs</span>: D3, Node.js, JQuery, OpenGL, Zend, .NET, Entity Framework, Pixi.js
          <br>
          <br>
          <span class="resume-item">Operating Systems and Software</span>: Windows, Linux, MacOS, MATLAB, JMP, Tableau, PostgreSQL
          <br>
          <br>
          <span class="resume-item">Other</span>: Teaching, Piano, Golf, Gaming
          <br>
          <br>
          <h2>Service</h2>
          <span class="resume-item">(2018)</span> <strong>Graduate Student Orientation Volunteer</strong>
          <br>
          &#x25B8 Helped introduce new grad students to the CU Boulder campus and community
          <br>
          <br>
          <span class="resume-item">(2016-2017)</span> <strong>Graduate Student Mentor</strong>
          <br>
          &#x25B8 Mentored undergraduate students in Computer Science at the University of Oklahoma
          <br>
          <br>
          <span class="resume-item">(2015-2017)</span> <strong>CS Education Week Volunteer</strong>
          <br>
          &#x25B8 Taught kids and adults how to program in support of Computer Science Education Week
          <br>
          <br>
          <span class="resume-item">(2014-2017)</span> <strong>CS Administration Volunteer</strong>
          <br>
          &#x25B8 Helped organize and set up for numerous events for the Department of Computer Science at the University of Oklahoma
          <br>
          <br>
          <h2>Awards</h2>
          <span class="resume-item">(2017)</span> <strong>Outstanding Masters Student in Computer Science</strong>
          <br>
          &#x25B8 This award highlighted a single Masters student who went above and beyond in all aspects of their academic life
          <br>
          <br>
          <span class="resume-item">(2016)</span> <strong>Outstanding Student Leadership in Computer Science</strong>
          <br>
          &#x25B8 This award highlighted a few undergraduate students who showed excellent leadership qualities
          <br>
          <br>
          <span class="resume-item">(2012)</span> <strong>Chesapeake Energy Corporation Scholar</strong>
          <br>
          &#x25B8 This award was given based on academic excellence and student involvement
        </div>
      </div>
    </div>

    <script src="/js/main.js"></script>
    <script src="/js/resume.js"></script>

  </body>
</html>