/* --- Centerpiece styles --- */
body {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

#centerpiece {
    color: #FFFFFF;
    font-size: 125px;
    font-weight: bold;
    text-align: center;

    background: url('/img/centerpiece_bg.png'); /*#281414;*/
    width: 650px;
    height: 130px;

    box-shadow: 10px 12px 10px black;

    position: absolute;
    top: 150px; bottom: 0;
    left: 0; right: 0;
    
    margin: auto;

    z-index: -2;
}

canvas {
    pointer-events: none;
}

#center-l1 { color: #F44336; }
#center-l2 { color: #009688; }
#center-l3 { color: #FF9800; }
#center-l4 { color: #4CAF50; }
#center-l5 { color: #9C27B0; }
#center-l6 { color: #3F51B5; }
#center-l7 { color: #F44336; }
#center-l8 { color: #FF9800; }
#center-l9 { color: #4CAF50; }
#center-l10 { color: #9C27B0; }
/* --- End centerpiece styles --- */

/* --- Tablet behavior --- */
@media screen and (min-width: 768px) and (max-width: 1440px) {
    #centerpiece {
        font-size: 90px;
        width: 450px;
        height: 90px;
    }

    /* iPad specific behavior */
    @supports (-webkit-overflow-scrolling: touch) {
        #centerpiece {
            font-size: 80px;
            padding-top: 6px;
        }
    }
}
/* --- End tablet behavior --- */

/* --- Mobile behavior --- */
@media screen and (max-width: 768px) {
    #centerpiece {
        font-size: 52px;
        width: 300px;
        height: 60px;
        padding-top: 6px;
        top: 0px;
    }
}
/* --- End mmobile behavior --- */