/* 
-------------------- 
Begin Primary styles
--------------------
*/

@font-face {
    font-family: pixel;
    src: url(/font/pixel_operator.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: pixel;
}

html {
    background: url(/img/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    box-shadow: 0px 10px 10px black;
    background-color: #EEEEEE
}

#logo {
    color: #002984;
    float: left;
    font-size: 64px;
    font-weight: bold;
    padding: 10px 0 12px 0;
    cursor: pointer;
}

.navlinks {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 55%;
}

.navlinks a {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    margin: 0 10px;
    position: relative;
}

.navlinks .home-link {
    color: #C41C00;
}

.navlinks .about-link {
    color: #00675B;
}

.navlinks .resume-link {
    color: #FB8C00;
}

.navlinks .blog-link {
    color: #087F23;
}

.navlinks .contact-link {
    color: #6A0080;
}

.hover-link::before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 3px;
    background: #000000;
    transition: width 0.3s;
}

.hover-link::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 3px;
    background: #000000;
    transition: width 0.3s;
}

.hover-link:hover::after {
    width: calc(100% + 18px);
    transition: width 0.3s;
}

.hover-link:hover::before {
    width: calc(100% + 18px);
    transition: width 0.3s;
}

#hamburger {
    display: none;
    z-index: 2;
}

#hamburger div {
    background-color: #087F23;
    width: 32px;
    height: 4px;
    margin: 5px;
    transition: all 0.3s ease;
}

.active-link::after {
    content: '';
    position: absolute;
    display: block;
    width: calc(100% + 18px);
    height: 3px;
    background: #000000;
}

/* 
------------------ 
End Primary styles
------------------
*/

/* 
---------------------
Begin Tablet Behavior
---------------------
*/ 

@media screen and (min-width: 768px) and (max-width: 1440px) {
    #navbar {
        height: 70px;
    }

    .navlinks a {
        font-size: 30px;
    }

    .hover-link::before {
        top: -2px;
    }

    #logo {
        font-size: 50px;
    }
}

/* 
-------------------
End Tablet Behavior
-------------------
*/

/* 
---------------------
Begin Mobile Behavior
---------------------
*/ 

@media screen and (max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }

    #navbar {
        height: 60px;
        margin-bottom: 20px;
    }

    .navlinks {
        position: absolute;
        right: 0px;
        top: 60px;
        height: calc(100% - 60px);
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 0;
        width: 25%;
        transform: translateY(-105%);
        background-color: #EEEEEE;
    }

    .navlinks a {
        font-size: 22px;
    }

    .navlinks li {
        opacity: 0;
    }

    .hover-link::before {
        top: -3px;
    }

    #hamburger {
        display: block;
    }

    .hamburger-active {
        transform: translateY(0%);
        transition: transform 0.3s ease-in;
    }

    .hamburger-inactive {
        transform: translateY(-105%);
        transition: transform 0.15s ease-in;
    }

    @keyframes hamburgerFade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .morph-hamburger .line1 {
        transform: translate(-0px, 9px) rotate(-45deg);
    }

    .morph-hamburger .line2 {
        opacity: 0;
    }

    .morph-hamburger .line3 {
        transform: translate(-0px, -9px) rotate(45deg);
    }

    #logo {
        font-size: 40px;
    }
}

/* 
-------------------
End Mobile Behavior
-------------------
*/

/* 
-----------------------
Begin iOS only Behavior
-----------------------
*/

@supports (-webkit-overflow-scrolling: touch) {
    .hover-link::after {
        content: ;
    }

    .hover-link::before {
        content: ;
    }

    .active-link::after {
        content: '';
        position: absolute;
        display: block;
        width: calc(100%);
        height: 3px;
        background: #000000;
    }
}

/* 
---------------------
End iOS only Behavior
---------------------
*/