<div id="central-panel">
  <div id="text-container">
  	<h1 style="display: inline-block;">ERROR 500</h1>
    <br>
    <br>
    <h3 class="error-description">Internal Server Error</h3>
    <br>
    <p class="forgive-me">Please Forgive Me!</p>
    <img src="/img/gifs/kitty.gif" id="please-kitty">
  </div>
</div>